<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @user.email %></h1>
<p>
  You have request to book <%= @property.name %>
</p>
<p>
  To confirm you reservation please visit the follow link: <%= @url %>.
</p>
<p>Thanks for use our services and have a great day!</p>
</body>
</html>